{% extends 'LesPolypodesSimpleDMSBundle::layout.html.twig' %}


{% block content %}
<div class="row">
    {% if 0 < folders|length %}
        <div class="col-md-6">
            <h3>Your folders:</h3>
            <ul>
                {% for folder in folders %}
                    <li>{{ folder.title }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if 0 < usages|length %}
        <div class="col-md-6">
            <h3>Your Google Drive Usage Stats:</h3>
            <ul>
                {% for label, usage in usages %}
                    <li><b>{{ label }}</b>{{ usage }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{% if 0 < files|length %}
    <div class="row">
    <form class="form-inline" name="form" role="form" action="" method="post">
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.q) }}
            {{ form_widget(form.q, { 'attr': {'class': 'form-control', 'placeholder': 'search for...'} }) }}
        </div>
        {{ form_rest(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">{{ 'Find' | trans }}</button>
        </div>
        <hr />
        </form>

    <div class="row">
        {% for file in files %}
            <div class="col-md-4">
                {% include "@LesPolypodesSimpleDMS/Website/file.html.twig" with {"file": file} %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% javascripts '@LesPolypodesSimpleDMSBundle/Resources/public/js/*' output='js/vendors/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
