<h4><a class="googleAnalyticsEvent" href="{{ path('_file', {fileId: file.id}) }}">{{ file.title }}</a></h4>
<div class="pull-right">
    <a class="googleAnalyticsEvent" href="{{ path('_file', {fileId: file.id}) }}"><img src="{{ file.thumbnailLink }}" /></a>
</div>
<ul>
    <li><img src="{{ file.iconLink }}" /> ({{ file.fileSize|formatBytes }})</li>
    <li><a class="googleAnalyticsEvent" href="{{ path('_file', {fileId: file.id}) }}">download</a></li>
</ul>
