<form class="form-inline" name="form" role="form" action="" method="GET">
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.q) }}
        {{ form_widget(form.q, { 'attr': {'class': 'form-control', 'placeholder': 'search for...'} }) }}
        {{ form_widget(form.pageToken, { 'value': '' }) }} {# we reset it: submitting new form musn't take this token in account again#}
        {{ form_widget(form.type, { 'value': '' }) }} {# we reset it: submitting new form musn't take this token in account again#}
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-default">{{ 'Find' | trans }}</button>
        <a class="btn btn-default" href="{{ url("_files") }}?q=">Reset</a>
    </div>
    <hr />
</form>
