{% if 0 < folders|length %}
    <h2>Folders:</h2>
    <ul>
    {% for folder in folders %}
       <li>{{ folder.title }}</li>
    {% endfor %}
        </ul>
{% endif %}

{% if 0 < usages|length %}
    <h2>Usages:</h2>
    <dl>
        {% for label, usage in usages %}
            <dt>{{ label }}</dt><dd>{{ usage }}</dd>
        {% endfor %}
    </dl>
{% endif %}

{% if 0 < files|length %}
    <h2>Files:</h2>
    {{ form(form) }}
    <ul>
        {% for file in files %}
            <li>{{ file.title }}
                <ul>
                    <li><img src="{{ file.thumbnailLink }}" /></li>
                    <li><img src="{{ file.iconLink }}" /> ({{ file.fileSize|format_bytes }})</li>
                    <li><a target="blank" class="googleAnalyticsEvent" href="{{ path('_file', {fileId: file.id}) }}">download</a></li>
                    {# dump(file) #}
                    <hr />
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% javascripts '@LesPolypodesSimpleDMSBundle/Resources/public/js/*' output='js/vendors/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

