{% if 0 < folders|length %}
    <h2>Folders:</h2>
    <ul>
    {% for folder in folders %}
       <li>{{ folder.title }}</li>
    {% endfor %}
        </ul>
{% endif %}

{% if 0 < files|length %}
    <h2>Files:</h2>
    <ul>
        {% for file in files %}
            <li>{{ file.title }}
                <ul>
                    <li><img src="{{ file.thumbnailLink }}" /></li>
                    <li><a target="_blank" href="{{ file.alternateLink }}">view online</a></li>
                    <li><a target="_blank" href="{{ file.webContentLink }}">download</a></li>
                    <li><img src="{{ file.iconLink }}" /> ({{ file.fileSize|format_bytes }})</li>
                    {# dump(file) #}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if 0 < usages|length %}
    <h2>Usages:</h2>
    <dl>
        {% for label, usage in usages %}
            <dt>{{ label }}</dt><dd>{{ usage }}</dd>
        {% endfor %}
    </dl>
{% endif %}

